﻿@model TimTest.Models.SearchPublicationModels
<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4 text-center">

                @using (Html.BeginForm("ReadPublications", "EuropePMC", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <h5>Search publications</h5>

                    @Html.TextBoxFor(d => d.Query, null, new { @class = "form-control", @maxlength = "50", @placeholder = "Type in something", @required = true, @type = "text", @id = "searchInput", @onfocusout = "SearchPublicationsValidator()" })
                    <button type="submit" class="btn btn-block btn-primary mt-3">Search</button>
                }

            </div>
            <div class="col-12 col-md-4"></div>
        </div>
    </div>

    <script>

        function SearchPublicationsValidator() {
            $('searchInput');
        }

    </script>

</body>
</html>