﻿@model TimTest.Models.ReadPublications
<html>
<head>

</head>
<body>
    <div class="container">

        @if (Model?.Publications != null)
        {
            <div class="col-12 mb-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Autors</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var x in Model.Publications)
                        {
                            <tr>
                                <td>@x.Title</td>
                                <td>@x.Authors</td>
                                <td>@x.DatePublished</td>
                            </tr>
                        }

                    </tbody>
                </table>

                @{
                    int nextpage = (Model.Page + 1);
                    int prevpage = 0;

                    if (Model.Page > 1)
                        prevpage = (Model.Page - 1);
                }

                @using (Html.BeginForm("ReadPublications", "EuropePMC", FormMethod.Post))
                {
                    @Html.HiddenFor(d => d.Query);
                    <div class="row">
                        <div class="col-md-5 col-12"></div>
                        <div class="col-md-2 col-12">
                            <ul class="pagination">

                                @if (Model.Page == 1)
                                {
                                    <li class="page-item"><button disabled class="page-link disabled">Previous</button></li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <button value="@prevpage" id="next" name="Page" type="submit" class="page-link">Previous</button>
                                    </li>
                                }

                                <li class="page-item">
                                    <button value="@nextpage" id="prev" name="Page" type="submit" class="page-link">Next</button>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-5 col-12"></div>
                    </div>
                }

            </div>

        }

    </div>

</body>
</html>